# Node
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# PNPM
.pnpm-store/

# Vite
dist/
.vite/
build/

# Core library build artifacts
# We build *into* the extension, but that 'dist' is still a build artifact
packages/extension/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Test reports
e2e-tests/playwright-report/
e2e-tests/test-results/
