# Node
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# PNPM
.pnpm-store/

# Vite
dist
.vite
build


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Test reports
e2e-tests/playwright-report/
e2e-tests/test-results/
